# Core dependencies
sapsf-shared @ git+https://github.com/SahirVhora/sapsf-shared.git
requests==2.32.5
openpyxl==3.1.5
flask==3.1.3
pyyaml==6.0.3
python-dotenv==1.2.2
colorama==0.4.6

# Flask-adjacent (explicitly imported)
werkzeug==3.1.8

# Development / testing
pytest==9.1.1
